@import "tailwindcss";

@theme {
  --color-light-neutral: #FFECD1;
  --color-dark-neutral: #262626;
  --color-accent-neutral: #816E94;
  --color-accent-primary: #BD1E1E;
  --color-accent-secondary: #07BEB8;

  --font-great-vibes: "Great Vibes", cursive;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --light_neutral: #FFECD1;
  --dark_neutral: #262626;
  --accent_neutral: #816E94;
  --accent_primary: #BD1E1E;
  --accent_secondary: #07BEB8;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
